*Tasks*

- Import the pandas library as pd. Download the dataset bookings.csv with the separator ;. Check the size of the table, the types of variables, and then display the first 7 lines to view the data. 
- Bring the column names to the lower case and replace the spaces with the lower underscore sign. 
- Which country users made the most successful bookings? Indicate the top 5. 
- How many nights hotels of various types are booked on average? 
- Sometimes the type of room received by the client (assigned_room_type) differs from the originally booked (reserved_room_type). This can happen, for example, due to overbooking. How many similar observations were found in the dataset? 
- Analyze the dates of the planned arrival. – What month was the most successful reservation in 2016? Has the most popular month changed in 2017? – Group the data by year and check for which month the City Hotel type reservations were canceled most often in each of the periods.
- Look at the numeric characteristics of the three variables: adults, children and babies. Which one has the highest average value? 
- Create a total_kids column by combining children and babies. For hotels of what type was the highest value of the variable? 
- Create a variable has_kids that takes True if the client indicated at least one child (total_kids) when booking, otherwise – False. Consider the ratio of the number of departed users to the total number of customers, expressed as a percentage of (churn rate). Indicate among which group the indicator is higher.

#### Data description

*The following variables are available:*

- Hotel – hotel type (City Hotel or Resort Hotel) 
- Is canceled – the reservation was canceled (1) or not (0); not canceled considered successful 
- Lead time – number of days elapsed between the date of booking and the date of arrival 
- Arrival full date – full arrival date 
- Arrival date year – year of arrival 
- Arrival date month – month of arrival 
- Arrival date week number – arrival week number 
- Arrival date of month – day of arrival 
- Stays in weekend nights – number of weekends (Saturday or Sunday), which the guest booked for hotel accommodation 
- Stays in week nights – the number of days (Monday through Friday) that the guest booked for hotel accommodation 
- Stays total nights – total number of booked nights (the sum of the two previous columns) 
- Adults – number of adults 
- Children – number of children 
- Babies – number of babies  
- Meal – selected power type 
- Country – customer country of origin 
- Reserved room type – type of reserved room 
- Assigned room type – type of room (may differ from the booked)
- Customer type – booking type 
- Reservation status – value of the last status of the reservation: Canceled - was canceled by the client; Check-Out - the client has registered but has already left the hotel; No-Show - the client has not registered and informed the hotel about the reason 
- Reservation status date – status update date

Import the pandas library as pd. Read the bookings.csv with the separator ;.

In [4]:
import pandas as pd

In [11]:
path_to_file = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-r-borschigov/shared/homeworks/python_ds_miniprojects/2/bookings.csv'

In [12]:
bookings = pd.read_csv(path_to_file, sep = ';')

In [13]:
bookings_head = bookings[:7]

In [14]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [15]:
bookings.shape

(119390, 21)

In [16]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

Bring the column names to the lowercase and replace the spaces with the lower underscore.

In [17]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [18]:
bookings.columns = map(str.lower, bookings.columns) 
# Fast way to change columns register, but couldn't get a grasp on 
# changing spaces to underscores, so I will stick with the 
# traditional way.

bookings.columns = bookings.columns.str.replace(' ', '_')

In [19]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [20]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

Which country users made the most successful bookings? Indicate the top 5.

In [21]:
top_of_successful_countries = bookings.query('is_canceled == 0').country.value_counts()

In [22]:
top_of_successful_countries

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
SLE        1
BHS        1
BDI        1
MLI        1
MRT        1
Name: country, Length: 165, dtype: int64

How many nights hotels of various types are booked on average?

In [23]:
avg_nights_amount = bookings.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(2)

In [24]:
avg_nights_amount

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

Sometimes the type of room received by the client (assigned_room_type) differs from the originally booked (preserved_room_type). This can happen, for example, due to overbooking. How many similar observations were found in the dataset?

In [25]:
bookings.query('assigned_room_type != reserved_room_type')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

Analyze the dates of the planned arrival. – What month was the most successful reservation in 2016? Has the most popular month changed in 2017? – Group the data by year and check for which month the City Hotel type reservations were canceled most often in each of the periods

In [26]:
bookings\
.query('hotel == "City Hotel" and is_canceled == 1')\
.groupby(['arrival_date_year', 'arrival_date_month'])\
.agg({'is_canceled': 'count'})\

                                      is_canceled
arrival_date_year arrival_date_month
2015              August                     1232
                  December                    668
                  July                        939
                  November                    301
                  October                    1321
                  September                  1543
2016              April                      1539
                  August                     1247
                  December                   1072
                  February                    930
                  January                     438
                  July                       1043
                  June                       1720
                  March                      1108
                  May                        1436
                  November                   1360
                  October                    1947
                  September                  1567
2017              April                      1926
                  August                     1123
                  February                    971
                  January                    1044
                  July                       1324
                  June                       1808
                  March                      1278
                  May                        2217

Look at the numeric characteristics of the three variables: adults, children and babies. Which one has the highest average value?

In [27]:
bookings.adults.mean()

1.8564033838679956

In [28]:
bookings.children.mean()

0.10388990333874994

In [29]:
bookings.babies.mean()

0.007948739425412514

Create a total_kids column by combining children and babies. For hotels of what type was the highest value of the variable?

In [30]:
bookings.babies

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: babies, Length: 119390, dtype: int64

In [31]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [32]:
bookings['total_kids']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
119385    0.0
119386    0.0
119387    0.0
119388    0.0
119389    0.0
Name: total_kids, Length: 119390, dtype: float64

In [33]:
bookings\
.groupby('hotel')\
.agg({'total_kids': 'mean'})\
.round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

Create the variable has_kids, which takes the value True if the client indicated at least one child (total_kids) when booking, otherwise – False. Consider the ratio of the number of departed users to the total number of customers, expressed as a percentage of (churn rate). Indicate among which group the indicator is higher.

In [34]:
bookings['has_kids'] = bookings.total_kids > 0

In [35]:
bookings['has_kids']

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: has_kids, Length: 119390, dtype: bool

In [36]:
has_kids_cancelled = bookings.query('is_canceled == 1 and has_kids == True').shape[0]

In [37]:
has_kids_uncancelled = bookings.query('has_kids == True').shape[0]

In [38]:
round(has_kids_cancelled / has_kids_uncancelled * 100, 2)

34.92

In [39]:
has_not_kids_cancelled = bookings.query('is_canceled == 1 and has_kids == False').shape[0]

In [40]:
has_not_kids_uncancelled = bookings.query('has_kids == False').shape[0]

In [41]:
round(has_not_kids_cancelled / has_not_kids_uncancelled * 100, 2)

37.22